# Arquivos compilados do Java
*.class

# Pastas geradas pelo NetBeans
/build/
/dist/

# Configurações locais
/nbproject/private/

# Arquivos temporários
*.log
.DS_Store

# Configuração local do banco
dao/Conexao.java